@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Dancing+Script:wght@400;600;700&family=Playball&display=swap");

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-playball {
  font-family: "Playball", cursive;
}

* {
  font-family: "Open Sans", cursive;
}

.bg-berem {
  background-color: #cfacac;
}

.text-berem {
  color: #646369;
}

.bg-wakwak {
  background-color: #916c6c;
}

.text-wakwak {
  background-color: #916c6c;
}

.bg-fee {
  background-color: #ecd0d0;
}

.bg-kulit {
  background-color: #cfacac;
}

.fs-60 {
  font-size: 60px;
}

.fs-45 {
  font-size: 45px;
}

.fs-40 {
  font-size: 40px;
}

.scale {
  overflow: hidden;
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.05);
}

.norek {
  cursor: pointer;
  border: none;
  outline: none;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem !important;
  }
  #front-image {
    display: none;
  }
  #front-text {
    padding-top: 40%;
    height: 100vh;
    background-image: url(../img/img3-foreground.png); background-size: cover;
  }
}

#front-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.statistik {
  text-align: center;
  margin: 20px auto;
  max-width: 700px;
}

.statistik-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* jarak antar box */
  margin-top: 15px;
}

.statistik-box {
  flex: 1;
  padding: 30px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-left: 15px;
  margin-right: 15px;
}

.statistik-box p {
  margin-top: 10px;
  font-size: 18px;
}

/* Warna Hadir */
.statistik-box.hadir {
  background-color: #22c55e; /* hijau */
  border: 2px solid #15803d;
}

/* Warna Tidak Hadir */
.statistik-box.tidak-hadir {
  background-color: #ef4444; /* merah */
  border: 2px solid #991b1b;
}

